@use '../../utils' as *;
/*----------------------------------------*/
/*  3.2 Header Style 2
/*----------------------------------------*/

.#{$theme-prifix}-header {
  $self: &;

  &-top {
    &-border {
      border-bottom: 1px solid rgba($color: $black, $alpha: .1);
    }

    &-black {
      #{$self} {
        &-top {
          &-menu {
            &-item {
              position: relative;
              padding: 7px 0;
              &:not(:last-child) {
                padding-right: 15px;
                margin-right: 17px;
                &::after {
                  position: absolute;
                  content: '';
                  right: 0;
                  top: 50%;
                  width: 1px;
                  height: 20px;
                  background-color: rgba($color: $black, $alpha: .1);
                  @include transform(translateY(-50%));
                }
              }

              & > span {
                padding-left: 0;
                font-size: 14px;
                @extend %tp-ff-jost;
                color: var(--tp-common-black);
              }
            }
          }
        }
      }
    }
  }

  /* ---------------- Dark Red style ---------------- */
  &-style-darkRed {
    #{$self} {
      &-action {
        &-badge {
          background-color: #800000;
        }
        &-item {
          &:last-child {
            @media #{$md, $sm, $xs} {
              margin-right: 0;
            }
          }
        }
        &-btn {
          &:hover {
            color: #800000;
          }
        }
      }

      &-top-menu-item {
        & ul {
          & li {
            & a {
              &:hover {
                color: #800000;
              }
            }
          }
        }
      }
    }

    .tp-header-sticky.header-sticky
      .tp-header-action-item
      .tp-header-action-btn
      .tp-header-action-badge {
      background-color: #800000;
      border-color: var(--tp-common-white);
      color: var(--tp-common-white);
    }

    .tp-header-sticky.header-sticky
      .tp-header-action-item
      .tp-header-action-btn:hover {
      color: #800000;
    }
  }

  /* ---------------- Primary style ---------------- */
  &-style-primary {
    box-shadow: 0px 2px 6px rgba(1, 15, 28, 0.16);
    position: relative;
    z-index: 11;

    #{$self} {
      &-action {
        &-badge {
          background-color: #800000;
        }
        &-item {
          & button {
            &:hover {
              color: #800000;
            }
          }
          &:last-child {
            @media #{$md, $sm, $xs} {
              margin-right: 0;
            }
          }
        }
      }

      &-top-menu-item {
        & ul {
          & li {
            & a {
              &:hover {
                color: #800000;
              }
            }
          }
        }
      }
    }

    .main-menu.menu-style-2 > nav > ul > li .tp-submenu li:hover > a {
      color: #800000;
    }

    .main-menu.menu-style-2 > nav > ul > li .tp-submenu li:hover > a::after {
      color: #800000;
    }

    .tp-header-sticky.header-sticky
      .tp-header-action-item
      .tp-header-action-btn
      .tp-header-action-badge {
      background-color: #800000;
      border-color: #800000;
      color: var(--tp-common-white);
    }

    .tp-header-sticky.header-sticky
      .tp-header-action-item
      button
      .tp-header-action-badge {
      background-color: #800000;
      border-color: var(--tp-common-white);
      color: var(--tp-common-white);
    }

    & .tp-header-info-item a {
      & span {
        color: #800000;
      }

      &:hover {
        color: #800000;
      }
    }

    .tp-header-search-2 input:focus {
      border-color: #800000;
    }

    .tp-header-search-2 button:hover {
      color: #800000;
    }

    .main-menu.menu-style-2 ul li:hover > a,
    .main-menu.menu-style-2 ul li:hover > a::after {
      color: #800000;
    }

    .main-menu.menu-style-2 > nav > ul > li .home-menu-title a:hover {
      color: #800000;
    }

    .main-menu.menu-style-2 .tp-menu-showcase-btn-2 {
      border-radius: 0;
      background-color: #800000;
    }

    .tp-header-sticky.header-sticky
      .tp-header-action-item
      .tp-header-action-btn:hover {
      color: #800000;
    }

    .main-menu.menu-style-2 > nav > ul > li .home-menu-item:hover .home-menu-title {
      color: #800000;
    }
  }

  /* ---------------- Info items ---------------- */
  &-info {
    &-item {
      position: relative;
      &:not(:last-child) {
        padding-right: 20px;
        margin-right: 20px;
        &::after {
          position: absolute;
          content: '';
          right: 0;
          top: 50%;
          width: 1px;
          height: 20px;
          background-color: rgba($color: $black, $alpha: .1);
          @include transform(translateY(-50%));
        }
      }

      & a {
        font-size: 15px;
        color: rgba($color: $black, $alpha: .8);

        & span {
          color: #800000;
          margin-right: 5px;

          & svg {
            @extend %tp-svg-y-2;
          }
        }

        &:hover {
          color: #800000;
        }
      }
    }
  }

  /* ---------------- Search field ---------------- */
  &-search-2 {
    width: 100%;
    position: relative;

    & input {
      background: var(--tp-grey-4);
      border: 1px solid rgba(1, 15, 28, 0.1);
      height: 46px;
      padding-left: 24px;
      padding-right: 50px;
      @include tp-placeholder {
        color: var(--tp-text-1);
      }

      &:focus {
        border-color: #800000;
      }
    }

    & button {
      position: absolute;
      top: 50%;
      right: 20px;
      @include transform(translateY(-50%));
      font-size: 24px;

      &:hover {
        color: #800000;
      }

      & svg {
        @extend %tp-svg-y-3;
      }
    }
  }

  &-bottom {
    &-2 {
      @media #{$lg, $md, $sm, $xs} {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

/* ---------------- Social icons ---------------- */
.tp-social-icons {
  display: flex;
  gap: 8px;
}

.tp-social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #f5f5f5;
  color: #821f40;
  font-size: 16px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  padding: 0;
}

.tp-social-icons a:hover {
  background: #800000;
  color: #fff;
  box-shadow: 0 2px 8px rgba(130, 31, 64, 0.15);
}

.tp-social-icons a svg {
  width: 18px;
  height: 18px;
  display: block;
}

@media (max-width: 991px) {
  .main-menu {
    display: none;
  }

  .tp-header-hamburger {
    display: block;
  }

  
  .tp-header-search-2 {
    display: none;
  }

  .tp-header-action-item {
    margin-left: 10px;
  }
}

/* Header height */
.#{$theme-prifix}-header {
  --tp-header-height: 88px;
}

.tp-header-sticky.header-sticky {
  --tp-header-height: 72px;
}
